parameters:
	ignoreErrors:
		-
			message: "#^Method mxr576\\\\ddqg\\\\Infrastructure\\\\ComposerJsonWriter\\:\\:__invoke\\(\\) has parameter \\$composer_data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Infrastructure/ComposerJsonWriter.php

		-
			message: "#^Cannot access offset 0 on non\\-empty\\-array\\<SimpleXMLElement\\>\\|false\\|null\\.$#"
			count: 1
			path: src/Infrastructure/DrupalOrg/UpdateStatusApi/DrupalUpdateStatusApiUsingGuzzleRepository.php

		-
			message: "#^Method mxr576\\\\ddqg\\\\Infrastructure\\\\DrupalOrg\\\\UpdateStatusApi\\\\XmlStreamBridgeForPsrStream\\:\\:getChunk\\(\\) throws checked exception RuntimeException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: src/Infrastructure/DrupalOrg/UpdateStatusApi/XmlStreamBridgeForPsrStream.php
