parameters:
	ignoreErrors:
		-
			message: "#^Method mxr576\\\\ddqg\\\\Infrastructure\\\\UpdateStatusApi\\\\XmlStreamBridgeForPsrStream\\:\\:getChunk\\(\\) throws checked exception RuntimeException but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: src/Infrastructure/UpdateStatusApi/XmlStreamBridgeForPsrStream.php
