includes:
    - phpstan-baseline.neon

parameters:
  level: max
  tipsOfTheDay: false
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
  exceptions:
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true
    uncheckedExceptionClasses:
      - 'InvalidArgumentException'
      - 'LogicException'
      - 'UnexpectedValueException'
      - 'PHPUnit\Framework\ExpectationFailedException'
    checkedExceptionClasses:
      - 'RuntimeException'
  paths:
    - bin
    - src
  excludePaths:
    - */vendor/*
